.footermain{
    background-color: #481173;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

.first{
    padding: 30px; 
    width: 325px;
}

.first p {
    color: rgba(255,255,255,.7);
    font-size: 18px;
}

.h555 {
    color: white;
    padding-bottom: 5px;
}

.second {
    padding: 30px;
    color:rgba(255,255,255,.7);
}

.h55{
    margin-top: 50px;
    color: white;
}

.pp {
    max-width: 350px;
    color: rgba(255,255,255,.7);
    font-size: 18px;
    padding-bottom: 15px;
}

.third {
    padding: 30px;
    color:rgba(255,255,255,.7);
}

.fourth {
    padding: 30px;
    color:rgba(255,255,255,.7);
}

.fifth {
    padding: 30px;
    color:rgba(255,255,255,.7);
}

.fifthdiv{
    max-width: 200px;
    border: 2px solid rgba(255,255,255,.1);
    padding: 10px;
    border-radius: 10px;
}

.img1 {
    width: 136px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.fifthdiv p{
  font-size: small;
  margin-left: 15px;
}

.img2{
    width: 100px;
    margin-left: 40px;
}
